<div class="adminTitle">
    <h2>&nbsp; Blogs</h2>
    <a href="/addBlog"><button class="adminButtonCreate">Add New</button></a>
</div>

<ul>

<% data.forEach(blog => { %>

    <li class="adminBlogs">

        <a href="/blog/<%= blog._id %>">        
            <%= blog.title %>  &nearr;
        </a>

        <div class="adminBlogControl">
            <a href="/editBlog/<%= blog._id %>" class="adminDashboardButtons">Edit</a>
            <form action="/deleteBlog/<%= blog._id %>?_method=DELETE" method="POST">
            <button type="submit" class="adminButtonDelete">Delete</button>
            </form>
        </div>    

    </li>
    <hr>   
    <%});%>



</ul>

<% if (nextPage !== null) { %>
    <a href="/dashboard/?page=<%= nextPage %>" class="pagination"> &lt; View Older Blogs</a>
<% } %>